.App {
  text-align: center;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addTask {
  width: 450px;
  background: #fff;
  padding: 30px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 25px;
}



.addTask .wrapper input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  
}

.addTask .wrapper input:focus{
  outline: none;
}

.addTask .wrapper{
  height: 40px;
  width: 100%;
  position: relative;

}

.task {
  border-radius: 25px;
}

.addTask .wrapper label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}

.addTask .wrapper input:focus ~ label {
  transform: translateY(-20px);
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  opacity: 0.9;
}

.button.delete:hover {
  background-color: #DC3545;
}

.button:hover.complete {
  background-color: #3e8e41;
}