.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buttons:hover {
  background-color: #0056b3
}

.delete:hover {
  background-color: #DC3545;
}
.complete:hover {
  background-color: #3e8e41;
}

button:active {
  background-color: #3e8e41;
}