.App {
  text-align: center;
}

body{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.addTask {
  width: 450px;
  background: #fff;
  padding: 30px;
  border-radius: 25px;
}

.addTask .wrapper input{
  height: 100%;
  width: 100%;
  border: none;
  font-size: 17px;
  border-bottom: 2px solid silver;
  
}

.addTask .wrapper input:focus{
  outline: none;
}

.addTask .wrapper{
  height: 40px;
  width: 100%;
  position: relative;

}

.task {
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 25px;
  box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67) !important;
  -webkit-box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67) !important;
  -moz-box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67) !important;
}

.addTask {
  box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67);
  -webkit-box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67);
  -moz-box-shadow: 0px -2px 19px 3px rgba(0,0,0,0.67);
}

.taskText {
  font-size: 25px;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  color: #333333;
  text-decoration: none;
}

.addTask .wrapper label{
  position: absolute;
  bottom: 10px;
  left: 0;
  color: gray;
  pointer-events: none;
  transition: all 0.3s ease;
}


.addTask .wrapper input:focus ~ label,
.addTask .wrapper input:valid ~ label {
  transform: translateY(-20px);
  font-size: 15px;
  color: #4158d0
}

button {
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #4158d0;
  border-radius: 15px;
  cursor: pointer;
  border:none;
  color: white;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.undo {
  background-color: #007BFF;
  color: white;
}

.undo:hover{ 
  background-color: #FFD700;
  color: #333333;
}

.button:hover {
  opacity: 0.9;
}

.button.delete:hover{
  background-color: #DC3545;
}

.button:hover.complete {
  background-color: #3e8e41;
}

.list {
  padding: 16px;
}

